/** @define MainMenu */
@import "../../styles/variables.scss";

.MainMenu {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.85), rgba(0,0,0,0.7)), url('/img/tailings.jpg');
  background-size: cover;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  padding: 5vh 5vw;
  text-align: center;
  transform: translate3d(-100vw, 0, 1px);
  transition: transform $transitionHeart;
  z-index: 400;

  &.open {
    opacity: 1;
    transform: translate3d(0, 0, 1px);
  }

  .WordMark {
    display: block;
    margin: 5em auto 7em auto;
    width: 33vw;
    fill: $offWhite;
    stroke: $offWhite;
  }

  div.left, div.right {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 0 10%;
  }

  p {
    color: $offWhite;
  }

  h1 {
    color: $offWhite;
    margin: 0 0 1em 0;
    font-size: 110%;
    font-weight: normal;
  }

  .share {
    margin-top: 2em;

    .IconButton {
      font-size: 150%;
      margin: 0 0.25em;
    }
  }

  footer {
    margin: 8em 0;

    p {
      color: $softWhite;
      text-align: center;
      font-size: 80%;
    }
  }

  .IconButton.close {
    position: absolute;
    top: 4vw;
    right: 4vw;
    font-size: 150%;
  }

  menu {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;

    hr {
      height: 1px;
      border: none;
      background: rgba(255,255,255,0.33);
      margin: 1em auto;
      width: 3em;
    }

    a {
      display: block;
      color: rgba(255,255,255,0.5);
      padding: 0.5em 0;
      margin: 0.5em 0;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.2em;
      font-size: 100%;
      line-height: 1em;

      transition: color $transitionQuick;

      &:hover {
        color: rgba(255,255,255,1);
      }
    }
  }
}