/** @define MainMenu */
@import "../../styles/variables.scss";

.MainMenu {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.85), rgba(0,0,0,0.7)), url('/img/tailings.jpg');
  background-size: cover;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  padding: 5vh 5vw;
  text-align: center;
  transform: translate3d(-100vw, 0, 1px);
  transition: transform $transitionHeart;
  z-index: 400;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.open {
    opacity: 1;
    transform: translate3d(0, 0, 1px);
  }

  .WordMark {
    display: block;
    margin: 3em auto 5em auto;
    width: 33vw;
    fill: $offWhite;
    stroke: $offWhite;
  }

  section {
    margin: 2em auto;
    width: 33vw;

    p {
      color: $offWhite;
    }

    .share {
      margin-top: 2em;

      .IconButton {
        font-size: 150%;
        margin: 0 0.25em;
      }
    }
  }

  div.left, div.right {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    width: 33%;
    padding: 0;
  }

  h1 {
    color: $offWhite;
    margin: 0 0 1em 0;
    font-size: 110%;
    font-weight: normal;
  }

  footer {
    margin: 2em 0;

    p {
      color: $softWhite;
      text-align: center;
      font-size: 80%;
    }
  }

  .IconButton.close {
    position: fixed;
    top: 4vh;
    right: 4vw;
    font-size: 150%;
  }

  .mail-chimp {
    input.email {
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.8);
      padding: 0.25em 0.5em;
      border-radius: 0.2em;
      font-size: 100%;
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      width: 15em;
    }

    input.button {
      margin-left: 1em;
      display: inline-block;
      vertical-align: middle;
      padding: 0.25em 0.5em;
      font-size: 100%;
      border-radius: 0.2em;
      background: rgba(255, 255, 255, 0.8);
      color: #000;
      border: 1px solid rgba(255, 255, 255, 0.8);
      cursor: pointer;
    }
  }

  menu {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;

    hr {
      height: 1px;
      border: none;
      background: rgba(255,255,255,0.33);
      margin: 1em auto;
      width: 3em;
    }

    a {
      display: block;
      color: rgba(255,255,255,0.5);
      padding: 0.5em 0;
      margin: 0.5em 0;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.2em;
      font-size: 100%;
      line-height: 1em;

      transition: color $transitionQuick;

      &:hover {
        color: rgba(255,255,255,1);
      }
    }
  }
}

@media only screen and (max-device-width: 720px) {
  .MainMenu {
    padding: 4vh 5vw;

    .WordMark {
      width: 50vw;
      margin: 3em auto;
    }

    section {
      font-size: 125%;
      margin: 2em auto;
      width: 100%;

      .share {
        margin-top: 2em;

        .IconButton {
          font-size: 200%;
          margin: 0 0.25em;
        }
      }
    }

    div.left, div.right {
      display: block;
      width: 100%;
      margin-top: 2em;
    }

    .IconButton.close {
      top: 3vh;
      right: 4vw;
    }
  }
}