/** @define Menu */
@import "../../styles/variables.scss";

$boxShadow: -0.25em 0.5em 1em 0.5em rgba(0,0,0,0.05);
$textShadow: -0.1em 0.1em rgba(0,0,0,0.05);

.Menu {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 15vw;
  height: 100vh;
  font-size: 100%;

  opacity: 0;
  transform: translate3d(8vw, 20vh, -4vw) rotateY(15deg);
  transition: opacity $transition, transform $transition;

  &.opened {
    opacity: 0.45;

    &:hover {
      opacity: 1;
      transform: translate3d(8vw, 15vh, 5vw) rotateY(0deg);
    }
  }


  label {
    display: block;
    margin-top: -0.2em;
    color: #ddd;
    transition: color $transitionTimeQuick;

    .option {
      display: inline-block;
      vertical-align: middle;
      width: 1em;
      height: 1em;
      border: 0.1em solid #ddd;
      border-radius: 0.5em;
      box-shadow: $boxShadow;

      transition: border $transitionTimeQuick, background-color $transitionTimeQuick;
    }

    span {
      display: inline-block;
      vertical-align: middle;
      margin-left: 1em;
      text-transform: uppercase;
      text-shadow: $textShadow;
      cursor: pointer;

      transform-origin: 0 50%;
      transition: transform $transitionTimeQuick;

      &:hover {
        transform: scale3d(1.33, 1.33, 1);
      }
    }

    &::after {
      content: '';
      display: block;
      height: 4em;
      width: 0.1em;
      background-color: #ddd;
      margin-left: 0.45em;
      margin-top: -0.2em;
      box-shadow: $boxShadow;

      transition: background-color $transitionTimeQuick;
    }

    &:last-child::after {
      display: none;
    }

    &.selected {
      color: #fff;

      span {
        transform: scale3d(1, 1, 1);
      }

      .option {
        border: 0.1em solid #fff;
        background: #fff;
      }

      &::after {
        background-color: #fff;
      }
    }
  }
}