@import './variables.scss';
@import './fonts.scss';

html {
  font-weight: 400;
  font-family: 'baskerville-urw', serif;
  font-size: 9px;
  padding: 0;
  margin: 0;
  overflow: hidden;

  body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
  }
}

@for $i from 10 through 24 {
  @media screen and (min-width: $(i)00px) {
    html {
      font-size: $(i)px;
    }
  }
}
