$transitionType: ease;

$transitionTime: 1s;
$transition: $transitionTime $transitionType;

$transitionTimeQuick: 250ms;
$transitionQuick: $transitionTimeQuick $transitionType;

$transitionTimeReallyQuick: 125ms;
$transitionQuick: $transitionTimeReallyQuick $transitionType;

$transitionTimeLong: 2s;
$transitionLong: $transitionTimeLong $transitionType;

$transitionTimeHeart: 650ms;
$transitionHeart: $transitionTimeHeart $transitionType;

$opacityBase: 0.75;
$opacityHover: 1;
$scaleHeartBeat: scale3d(2,2,1);
