/** @define App */

@import '../../styles/variables.scss';

.App {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  .TextRoll {
    right: 5vw;
    top: 30vh;

    transform: perspective(200px) rotateY(45deg);
    transition: transform $transition;
  }

  menu.top-nav {
    position: absolute;
    top: 2em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translateY(-5em);
    transition: transform $transition, opacity $transition;

    &:hover {
    }

    &.visible {
      transform: translateY(-1em);
      opacity: 0.5;

      &:hover {
        transform: translateY(0);
        opacity: 1;
      }
    }

    a {
      display: inline-block;
      vertical-align: top;
      color: #fff;
      padding-right: 2em;
      margin-right: 2em;
      border-right: 1px solid #fff;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.2em;
      font-size: 80%;
      line-height: 1em;
      opacity: 0.75;

      transition: opacity $transition;

      &:hover {
        opacity: 1;
      }

      &:last-child {
        margin-right: 0;
        border-right: none;
      }
    }
  }
}