/** @define App */

@import '../styles/variables.scss';

.App {

  > section {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    transition: transform $transitionHeart, opacity $transitionHeart;
  }

  > section.support {
    visibility: hidden;

    .share-wrapper {
      padding: 20vh 30vw;
      opacity: 0;
      color: $offWhite;
      text-align: center;

      transition: opacity $transition;

      h2 {
        color: $offWhite;
        font-weight: 400;
        font-size: 150%;

        margin: 2em 0 1em 0;
      }

      .LargeButton {
        display: block;
        margin: 2em auto;
      }

      label.watch {
        margin-top: 1em;
        color: $softWhite;
        font-size: 125%;
      }
    }
  }

  > section.main {
    background-color: #000;
    perspective: 70vw;
    perspective-origin: 50% 50%;

    opacity: $opacityHover;

    menu.controls, menu.social {
      margin: 0;
      padding: 0;
      position: absolute;
      cursor: pointer;
      color: #fff;
      transform-origin: 0 50%;
      font-size: 150%;
      opacity: $opacityBase;
      z-index: 600;

      transition: opacity $transitionQuick, color $transitionQuick, transform $transitionQuick;

      &.controls {
        transform: translate3d(90vw, 5vh, -5vw);

        &:hover {
          opacity: $opacityHover;
        }
      }

      .IconButton {
        margin: 0 0.33em;
      }
    }
  }

  menu.top {
    position: absolute;
    width: 100%;
    font-size: 110%;
    top: 0;
    left: 0;
    text-align: center;
    transform: translate3d(0, 3vh, -2vw);
    z-index: 500;

    a {
      display: inline-block;
      padding: 0 1.5em;
      color: $offWhite;
      text-decoration: none;
      border-right: 1px solid $softWhite;

      &:last-child {
        border-right: none;
      }
    }
  }

  .IconButton.menu {
    position: absolute;
    font-size: 150%;
    transform: translate3d(3vw, 3vh, -3vw);
    z-index: 600;
  }

  &.share-mode {
    > section.support {
      visibility: visible;

      .share-wrapper {
        opacity: 1;
      }
    }

    > section.main {
      .Scene {
        display: none;
      }

      .ChapterMenu {
        display: none;
      }
    }
  }

  &.menu-open {
  }


  &.right-panel {
    section.main {
      transform: translate3d(-30vw, 0, 0);
    }
  }
}