/** @define App */

@import '../styles/variables.scss';

.App {

  > section {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    transition: transform $transitionHeart, opacity $transitionHeart;
  }

  > section.support {
    background-color: #000;

    .wrapper {
      padding-top: 30vh;
      opacity: 0;
      color: #fff;
      text-align: center;

      transition: opacity $transition;


      h1 {
        font-weight: 400;
        font-size: 400%;
      }

      h2 {
        font-weight: 400;
        font-size: 300%;
      }

      label {
        position: absolute;
        z-index: 32678;
        margin-top: 1em;
        width: 100%;
        display: block;
        font-size: 150%;
        cursor: pointer;
        color: rgba(255,255,255,0.33);
      }
    }
  }

  > section.main {
    perspective: 70vw;
    perspective-origin: 50% 50%;

    opacity: $opacityHover;

    menu.controls, menu.social {
      margin: 0;
      padding: 0;
      position: absolute;
      cursor: pointer;
      color: #fff;
      transform-origin: 0 50%;
      font-size: 150%;
      opacity: $opacityBase;

      transition: opacity $transitionQuick, color $transitionQuick, transform $transitionQuick;

      &.controls {
        transform: translate3d(90vw, 5vh, -5vw);

        &:hover {
          opacity: $opacityHover;
        }
      }

      .IconButton {
        margin: 0 0.33em;
      }
    }
  }

  menu.top {
    position: absolute;
    width: 100%;
    font-size: 110%;
    top: 0;
    left: 0;
    text-align: center;
    transform: translate3d(0, 3vh, -2vw);

    a {
      display: inline-block;
      padding: 0 1.5em;
      color: $offWhite;
      text-decoration: none;
      border-right: 1px solid $softWhite;

      &:last-child {
        border-right: none;
      }
    }
  }

  .IconButton.menu {
    position: absolute;
    font-size: 150%;
    transform: translate3d(3vw, 3vh, -3vw);
  }

  &.share-mode {
    .support {
      .wrapper {
        opacity: 1;
      }
    }

    section.main {
      menu.social {
        transform: translate3d(0, 75vh, -4vw) scale3d(1, 1, 1);
      }

      .Scene {
        display: none;
      }

      .ChapterMenu {
        display: none;
      }
    }
  }

  &.menu-open {
  }
}