/** @define App */

@import '../styles/variables.scss';

.App {

  > section {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    transition: transform $transitionHeart, opacity $transitionHeart;
  }

  > section.support {
    visibility: hidden;
    top: 20vh;
    left: 30vw;
    width: 40vw;

    .share-wrapper {
      opacity: 0;
      color: $offWhite;
      text-align: center;

      transition: opacity $transition;

      h2 {
        color: $offWhite;
        font-weight: 400;
        font-size: 150%;

        margin: 2em 0 1em 0;
      }

      .LargeButton {
        display: block;
        margin: 2em auto;
      }

      label.watch {
        margin-top: 1em;
        color: $softWhite;
        font-size: 125%;
      }
    }
  }

  > section.main {
    background-color: #000;
    perspective: 70vw;
    perspective-origin: 50% 50%;

    opacity: $opacityHover;

    menu.controls, menu.social {
      margin: 0;
      padding: 0;
      position: absolute;
      cursor: pointer;
      color: #fff;
      transform-origin: 0 50%;
      font-size: 150%;
      opacity: $opacityBase;
      z-index: 600;

      transition: opacity $transitionQuick, color $transitionQuick, transform $transitionQuick;

      &.controls {
        transform: translate3d(90vw, 5vh, -5vw);

        &:hover {
          opacity: $opacityHover;
        }
      }

      .IconButton {
        margin: 0 0.33em;
      }
    }
  }

  menu.top {
    position: absolute;
    width: 100%;
    font-size: 75%;
    top: 0;
    left: 0;
    text-align: center;
    transform: translate3d(0, 3vh, -2vw);
    z-index: 500;

    li {
      position: relative;
      list-style: none;
      display: inline-block;
      padding: 0.5em 0;

      a {
        display: block;
        padding: 0 3em;
        color: $offWhite;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        border-right: 1px solid $softWhite;

        &.last {
          border-right: none;
        }
      }

      menu {
        width: 200%;
        margin: 0 0 0 -50%;
        padding: 1em 0;
        position: absolute;
        display: none;

        a {
          border: none;
          padding: 0.5em 0;
        }

        hr {
          width: 1.5em;
          margin: 0.75em auto;
          height: 1px;
          border: none;
          background: $softWhite;
        }
      }

      &:hover {
        a {
          color: $softWhite;
        }

        menu {
          display: block;
        }
      }
    }

  }

  .IconButton.menu {
    position: absolute;
    font-size: 150%;
    transform: translate3d(3vw, 3vh, -3vw);
    z-index: 600;
  }

  &.share-mode {
    > section.support {
      visibility: visible;

      .share-wrapper {
        opacity: 1;
      }
    }

    > section.main {
      .Scene {
        display: none;
      }

      .ChapterMenu {
        display: none;
      }
    }
  }

  &.menu-open {
  }


  &.right-panel {
    section.main {
      transform: translate3d(-30vw, 0, 0);
    }
  }

  &.sharing {
    > section.support, > section.main {
      transform: translate3d(-100vw, 0, 0);
    }
  }
}

@media only screen and (max-device-width: 720px) {
  .App {
    * {
      user-select: none;
      -webkit-tap-highlight-color: transparent;
    }

    .LoadingScene, .SecondScene, .ThirdScene, .FourthScene, .FifthScene {
      .video-wrapper {
        img {
          display: block;
        }
      }
    }

    menu.top {
      display: none;
    }

    &.right-panel {
      section.main {
        transform: translate3d(-66vw, 0, 0);
      }
    }

    .IconButton.menu {
      font-size: 200%;
      transform: translate3d(4vw, 1vh, -3vw);
    }

    > section.main {
      menu.controls, menu.social {
        font-size: 200%;

        &.controls {
          transform: translate3d(75vw, 1vh, -5vw);
        }
      }
    }

    > section.support {
      left: 10vw;
      width: 80vw;
    }
  }
}