@import "../styles/variables.scss";

@define-mixin scene {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  transition: transform $transitionHeart;

  .video-wrapper {
    overflow: hidden;
    position: absolute;
    display: block;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform-origin: 50% 50%;
    transform: scale3d(1.66, 1.66, 1) translate3d(0, 0, -10vw);
    transition: transform $transitionHeart, opacity $transition;

    video {
      height: 100%;
    }
  }

  &.visible {
    .video-wrapper {
      opacity: 1;
      transform: scale3d(1.25, 1.25, 1) translate3d(0, 0, -8vw);
    }
  }
}