/** @define Menu */
@import "../../styles/variables.scss";

menu.TopMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translate3d(0, -1vh, -1vw);
  transition: transform $transitionQuick, opacity $transition;

  &.true {
    transform: translate3d(0, 4vh, -1vw);

    &:hover {
      transform: translate3d(0, 6vh, 0);
    }
  }

  a {
    display: inline-block;
    vertical-align: top;
    color: #ddd;
    fill: #ddd;
    padding-right: 2em;
    margin-right: 2em;
    border-right: 1px solid #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-size: 75%;
    line-height: 1em;

    transition: color $transitionQuick, fill $transitionQuick;

    &.logo {
      border-right: none;

      svg {
        margin-top: -0.75em;
        width: 3em;
      }
    }

    &:hover {
      color: #fff;
      fill: #fff;
    }

    &:last-child {
      margin-right: 0;
      border-right: none;
    }
  }
}