@import "../../styles/variables.scss";

/** @define ShareScreen */
.ShareScreen {
  font-weight: 300;
  font-size: 125%;
  color: #444;

  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;

  z-index: 1000;
  background-color: #f5f5f5;

  transform: translate3d(130vw, 0, 0);
  transition: transform $transitionHeart, opacity $transition;

  .IconButton {
    position: absolute;
    top: 2em;
    right: 2em;
    color: #333;
    font-size: 125%;

    svg rect {
      stroke: #333;
    }
  }

  section.arts {
    text-align: center;
    padding: 2em;
    overflow-y: auto;
    box-sizing: border-box;
    height: 100vh;

    h1 {
      font-weight: 300;
      text-align: center;
      font-size: 300%;
      margin: 1em 0 0.5em 0;
    }

    div.art {
      display: inline-block;
      vertical-align: middle;
      margin: 1em;
      transition: transform $transitionHeart, opacity $transition;

      > div > div > div > div:last-child {
        opacity: 0;
      }

      &:hover {
        > div > div > div > div:last-child {
          opacity: 1;
        }
      }

      &:active {
        transform: scale3d(0.66, 0.66, 1);
      }
    }
  }

  section.share {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0);

    opacity: 0;
    transform: scale3d(0.66, 0.66, 1);

    transition: background $transitionHeart, visibility $transitionHeart, transform $transitionHeart, opacity $transitionHeart;

    .share-wrapper {
      padding: 5em 10em;
      text-align: center;

      .image {
        display: inline-block;
        vertical-align: middle;
        width: 30em;

        img {
          box-shadow: 0 4.5em 10em rgba(14, 21, 47, 0.4), 0 1.6em 4em rgba(14, 21, 47, 0.4);
          border-radius: 0.5em;
          width: 100%;
        }
      }

      .buttons {
        display: inline-block;
        vertical-align: middle;
        width: 20em;
        margin-left: 4em;

        .LargeButton {
          display: block;
          margin: 0.5em 0;
          color: #334;
          font-size: 2rem;

          svg rect {
            stroke: #223;
          }
        }
      }
    }
  }

  &.visible {
    transform: translate3d(0, 0, 0);
  }

  &.sharing {
    section.share {
      visibility: visible;
      opacity: 1;
      transform: scale3d(1,1,1);
    }
  }

  &.sharing-open {
    section.share {
      background-color: rgba(255,255,255,0.9);
    }
  }
}