/** @define TextRoll */

@import '../../styles/variables.scss';

.TextRoll {
  position: absolute;
  top: -5vh;
  width: 33vw;
  height: 100vh;
  z-index: 400;

  opacity: 1;
  transform: translate3d(0,0,-1vw);

  tbody, tr, td {
    height: 100vh;
    width: 100%;
    vertical-align: middle;
  }

  strong, span, h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    vertical-align: middle;
    font-size: 300%;
    font-weight: 400;
    color: $offWhite;
    line-height: 1.4em;
    opacity: 0;
    transition: opacity $transition;
  }

  .InfoButton, .LargeButton {
    vertical-align: top;
    font-size: 2rem;
    margin-top: 1.5em;
    opacity: 0;
  }

  .InfoButton {
    margin-right: 0.5em;
  }

  strong {
    font-size: 300%;
    font-style: italic;
  }

  h1 {
    font-size: 300%;
  }

  h2 {
    font-size: 250%;
  }

  &.left {
    strong, span, h1, h2, h3, h4, h5, h6 {
      padding-right: 0.25em;
    }

    left: 10vw;
    text-align: left;
  }

  &.right {
    strong, span, h1, h2, h3, h4, h5, h6 {
      padding-left: 0.25em;
    }

    right: 10vw;
    text-align: right;
  }
}

@media only screen and (max-device-width: 720px) {
  .TextRoll {
    width: 60vw;
  }
}